{% extends 'base.html' %}
{% load static %}


{% block content %}

        <section class="section-padding gray-bg">
          <div class="container">
            <div class="text-center">
                <h2 class="section-title">Административные здания</h2>
            </div>
          </div>
        </section>

        <div class="container padding-top-20 padding-bottom-20">
            <ul class="nav nav-tabs">
                <li><a class="green-text" href="/"><strong>Главная</strong></a></li>
                <li><a class="green-text" href="{% url 'projects' %}"><strong>Проекты</strong></a></li>
                <li><a class="not-active" href="#">{{ title }}</a></li>
            </ul>
        </div>

        <section id="jildoma" class="mb-60">
            <div class="container">
                <div class="col-md-12">
                    <ul>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> Спортивный комплекс с плавательным бассейном г. Агинское Бурятский автономный округ, Забайкальский край</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> Физкультурно-оздоровительный комплекс г. Малгобек, Республика Ингушетия</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> Дворец Культуры г. Магас, Республика Ингушетия</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> Больница на 200 коек, блок «В», г. Сортавала, Республика Карелия</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> Торговый комплекс «Юго-Западный» г. Назрань</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> Ветеринарная лаборатория, ст-ца. Орджоникидзевская Республика Ингушетия</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> Школа общеобразовательная г. Грозный Чеченская республика</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> Школа общеобразовательная «Марем», г. Магас, Республика Ингушетия</li>
                    </ul>
                </div>

            </div>
        </section>

        <section class="promo-box brand-bg section-padding">
            <div class="container">

                <div class="col-md-12 text-center">
                    <div class="gallery">
                    {% for Gallery in images_admin %}
                        <div class="card">
                            <a href="{{ Gallery.image.url }}" target="_blank"><img src="{{ Gallery.image.url }}" /></a>
                        </div>
                    {% endfor %}
                    </div>
                </div>

            </div>
        </section>

{% endblock %}