{% extends 'base.html' %}
{% load static %}


{% block content %}

        <section class="section-padding gray-bg">
          <div class="container">
            <div class="text-center">
                <h2 class="section-title">Государственные объекты</h2>
            </div>
          </div>
        </section>


        <div class="container padding-top-20 padding-bottom-20">
            <ul class="nav nav-tabs">
                <li><a class="green-text" href="/"><strong>Главная</strong></a></li>
                <li><a class="green-text" href="{% url 'projects' %}"><strong>Проекты</strong></a></li>
                <li><a class="not-active" href="#">{{ title }}</a></li>
            </ul>
        </div>


        <section class="mb-30">
            <div class="container-fluid">
                <div id="gos" class="row no-gutter">
                    <div class="col-md-3">
                        <a href="#skolkovo">
                            <div class="featured-item border-box hover brand-hover">
                                 <h2 class="text-bold">Фонд Сколково</h2>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="#bank">
                            <div class="featured-item border-box hover brand-hover">
                                 <h2 class="text-bold">Центральный банк РФ</h2>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="#admin">
                            <div class="featured-item border-box hover brand-hover">
                                 <h2 class="text-bold">Административные сооружения</h2>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="#drugoe">
                            <div class="featured-item border-box hover brand-hover">
                                 <h2 class="text-bold">Прочие объекты</h2>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section id="skolkovo" class="mb-60">
            <div class="container">
                <div class="col-md-12">
                    <h2 class="section-title">Объекты ИЦ СКОЛКОВО</h2>
                    <ul>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> «Внутригородские системы инженерно-технического обеспечения, комплексное благоустройство и озеленение Инновационного центра «Сколково». Дороги и магистральные инженерные коммуникации по Парквею и прочим дорогам в всточной части района D3, Парквей и прочие дороги в восточной и северной части района D4 (Этапы 5.1.1, 5.1.2 и 5.3);  Дороги и магистральные инженерные коммуникации по Парквею в южной части района D3 и прочие дороги центральной части района D3 и северо-западной части района D2 (Этапы 6.1.1 и 6.2)»</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> «Комплекс Строительно-монтажных работ по внутренней сети канализации, внутренней сети водопровода, системе водоподготовке здания, внутренней сети водоснабжения и канализации под фундаментной плитой, системе газового автоматического пожаротушения, системе газоснабжения жидким азотом системе снабжения газами и сжатым воздухом (компрессорной), системе автоматического пожаротушения, наружным сетям связи, наружным сетям водоснабжения и канализации, наружным сетям теплоснабжения, наружным сетям холодоснабжения на объекте «Технопарк" 1 этап строительства (здания 3А, 3В, 3С)</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> Выполнение проектно-изыскательских и строительно-монтажных работ по капитальному ремонту участков хозяйственно-бытовой канализации с подключением к магистральным сетям канализации Инновационного центра «Сколково»</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> «Дороги и магистральные инженерные коммуникации по Парквею в границах района D2 и улиц местного значения района D2 (2-й этап)»; «Дороги и магистральные инженерные коммуникации в районах D1, D2, D3, Z2.2, Z2.3. для инженерного обеспечения объектов 1-ой фазы за пределами проектируемых дорог»; г. Москва, Московская обл.</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> Устройство тепловых сетей и водопроводного ввода ЦТП 9.1-9.5 на объекте «Внутригородские системы инженерно-технического обеспечения ИЦ «Сколково». г. Москва, Московская обл.</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> Монолитно бетонные работы при строительстве объектов «Квартал 9-10-11 входящие в состав среднеэтажной смешанной застройки района Д2 «Технопарк» ИЦ «Сколково» г. Москва, Московская обл.</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> «Строительно-монтажные работы по благоустройству и озеленению объекта «Технопарк: город  Москва, Инновационный Центр «Сколково», Планировочный район D2»</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> «Дороги и магистральные инженерные коммуникации по Парквею в северной части района D1. Этап строительства 3.3» г. Москва, Московская обл.</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> «Внутригородские системы инженерно-технического обеспечения, комплексное благоустройство и озеленение инновационного центра «Сколково». Центр холодоснабжения №4 района D3» Группа компаний "ТЕРМОКУЛ"</li>
                    </ul>
                </div>

                <div class="col-md-12 text-center">

                <div class="gallery">
                    {% for Gallery in images_skolkovo %}
                        <div>
                            <img src="{{ Gallery.image.url }}" />
                        </div>
                    {% endfor %}
                </div>

            </div>
        </section>
        <hr class="mt-20">
        <section>
            <div class="container">
                <div class="col-md-12">
                    <h2 class="section-title">Дороги. Инженерно-технические сети и коммуникации</h2>
                    <p class="sub-tilte">Комплексное устройство внутренних и внешних сетей в ИЦ СКОЛКОВО</p>
                </div>
                <div class="col-md-12">
                    <div class="gallery">
                    {% for Gallery in images_infra %}
                        <div>
                            <img src="{{ Gallery.image.url }}" />
                        </div>
                    {% endfor %}
                </div>
                </div>
            </div>
        </section>
        <div class="divider teal lighten-2 mt-100"></div>
        <section id="bank" class="mb-60">
            <div class="container">
                <div class="col-md-12">
                    <h2 class="section-title">Центральный Банк РФ</h2>
                    <ul>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> Административное здание ГУ БАНКА РОССИИ совместно с ГРКЦ по РИ</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> Федеральное казначейство РФ. Административно-бытовой комплекс УФК по РИ</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> Кассовый Узел Чеченского отделения Банка ВТБ г.Ханкала</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> Административное здание Чеченского отделения Банка ВТБ</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> Административное здание Ингушского Банка Сбербанка РФ</li>
                      </ul>
                </div>
                <div class="col-md-12">
                    [[Gallery?
                    	&album=`3`
                    	&linkToImage=`1`
                    	&thumbWidth=`120`
                    	&thumbHeight=`220`
                    	&itemCls=`gal-item materialboxed`
                    ]]
                </div>
            </div>
        </section>

        <div class="divider teal lighten-2 mt-100"></div>
        <section id="admin" class="mb-60">
            <div class="container">
                <div class="col-md-12">
                    <h2 class="section-title">Административные объекты</h2>
                    <ul>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> «Служебно-техническое здание Черноморско-Азовского пограничного управления береговой охраны » г. Краснодар</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> Служебно техническое здание для пограничной службы г. Астрахань</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> Пограничная застава ПОГЗ «Грозтхой»</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> Военный городок 137 погранотряда г. Магас</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> Центр реабилитации для военнослужащих г. Владикавказ</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> Служебно-техническое здание управления г. Ростов</li>
                      </ul>
                </div>
                <div class="col-md-12">
                    [[Gallery?
                    	&album=`4`
                    	&linkToImage=`1`
                    	&thumbWidth=`120`
                    	&thumbHeight=`220`
                    	&itemCls=`gal-item materialboxed`
                    ]]
                </div>
            </div>
        </section>

        <div class="divider teal lighten-2 mt-100"></div>
        <section id="drugoe" class="mb-60">
            <div class="container">
                <div class="col-md-12">
                    <h2 class="section-title">Объекты Государственного значения</h2>
                    <table class="table table-bordered">
                        <thead>
                          <tr>
                              <th class="text-center">Заказчик</th>
                              <th class="text-center">Наименование объекта</th>
                          </tr>
                        </thead>

                        <tbody>
                          <tr>
                            <td>Министерство жилищно-коммунального хозяйства Ростовской области</td>
                            <td>Аэропорт «Южный». «Строительство системы водоснабжения аэропортового комплекса "Южный" и прилегающих населенных пунктов. этап 1.1 «Строительство сооружения питьевой воды аэропортового комплекса "Южный"». г. Ростов-на-Дону</td>
                          </tr>
                          <tr>
                            <td>Министерство жилищно-коммунального хозяйства Ростовской области</td>
                            <td>Реконструкция  системы  Шахтинско-Донского водовода  (ШДВ). Повышение  надежности  системы водоснабжения г.Новошахтинск, г.Красный Сулин и прилегающих поселков. Строительство насосной станции в районе пос. Майский. II этап строительства.</td>
                          </tr>
                          <tr>
                            <td>Администрация города Каменск-Шахтинский Ростовская область</td>
                            <td>Выполнение работ по строительству котельной в МКР Заводской г. Каменск-Шахтинский</td>
                          </tr>
                          <tr>
                            <td>Крымская таможня. Южная таможенное Управление РФ</td>
                            <td>Выполнение работ по капитальному ремонту зданий и сооружений Крымской таможни, расположенных по адресу: пгт. Гаспра, г. Ялта, Республика Крым</td>
                          </tr>
                          <tr>
                            <td>Федеральная служба РФ по контролю за оборотом наркотиков</td>
                            <td>Административно-бытовой комплекс  ФСКН РФ по РИ г. Магас.</td>
                          </tr>
                          <tr>
                            <td>Федеральная таможенная служба РФ</td>
                            <td>Многосторонний пункт пропуска  «Весело-Вознесенка» пропускной способностью 1500 автомобилей в сутки (литер А,В,И,Б,Д,Г,Н,Е,М,К). 118 км дороги федерального значения М23 «Ростов-Таганрог – граница с Украиной»</td>
                          </tr>
                          <tr>
                            <td>Федеральная таможенная служба РФ</td>
                            <td>Многосторонний автомобильный пропускной пункт  «МАПП Караузек», пропускной  способностью 400 автомобилей в сутки Астраханской таможни РФ, Астраханская обл. Красноярский район, пос. Караузек. МО «Ватаженский сельсовет» на 60 км. дороги Б. Сеитовка-Ватажное от границы с Республикой Казахстан</td>
                          </tr>
                          <tr>
                            <td>Федеральная таможенная служба РФ</td>
                            <td>Многосторонний пункт пропуска Куйбышево-Мариновка, Ростовская обл. Куйбышевский р-он, 75-й км. дороги на российско-украинском участке  госграницы РФ, северо-западнее в 930м. хутора Репяховатый</td>
                          </tr>
                          <tr>
                            <td>Санкт-Петербургское Государственное казенное учреждение "Дирекция транспортного строительства"</td>
                            <td>Капитальный ремонт объекта федерального значения «Путепровод на км 686 а/д Москва-Санкт-Петербург через ж.д. пути ст. Шушары»</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
                <div class="col-md-12">
                    [[Gallery?
                    	&album=`5`
                    	&linkToImage=`1`
                    	&thumbWidth=`120`
                    	&thumbHeight=`220`
                    	&itemCls=`gal-item materialboxed`
                    ]]
                </div>
            </div>
        </section>


        <section class="promo-box brand-bg section-padding">
            <div class="container">
                <div class="col-md-12">
                    <div class="promo-info">
                        <h2 class="white-text text-bold font-35">Хотите узнать подробнее о наших объектах?</h2>
                    </div>
                    <div class="promo-btn">
                        <a href="projects/more." class="btn btn-lg white waves-effect waves-dark text-capitalize">Нажмите мы покажем</a>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}