{% extends 'base.html' %}
{% load static %}


{% block content %}

        <section class="section-padding gray-bg">
          <div class="container">
            <div class="text-center">
                <h2 class="section-title">Инфраструктурное и дорожное строительство</h2>
            </div>
          </div>
        </section>


        <div class="container padding-top-20 padding-bottom-20">
            <ul class="nav nav-tabs">
                <li><a class="green-text" href="/"><strong>Главная</strong></a></li>
                <li><a class="green-text" href="{% url 'projects' %}"><strong>Проекты</strong></a></li>
                <li><a class="not-active" href="#">{{ title }}</a></li>
            </ul>
        </div>


        <section id="skolkovo" class="mb-60">
            <div class="container">
                <div class="col-md-12">
                    <ul>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> Комплекс работ по устройству котлованов жилых домов №№ 1-9 на Объекте «Жилая общественно-деловая застройка с объектами социального назначения»</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> Работы по устройству наружных сетей водопровода, канализации и водостока на Объекте «Жилая общественно-деловая застройка с объектами социального назначения»</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> Комплекс работ по устройству вертикальной планировки, устройству временных дорог и площадок, устройству ограждения строительной площадки на Объекте «Жилая общественно-деловая застройка с объектами социального назначения»</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> Капитальный ремонт объекта ФЗ «Путепровод на км 686 а/д Москва-Санкт-Петербург через ж.д. пути ст. Шушары» Ленинградская область</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> Капитальный ремонт объекта «Путепровод на Дунайском проспекте» г. Санкт-Петербург</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> Капитальный ремонт объекта «Путепровод в створе проспекта Косыгина через железнодорожные пути станции «Заневский мост» г. Санкт-Петербург</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> Капитальный ремонт объекта «Володарский мост» г. Санкт-Петербург</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> Капитальный ремонт объекта «Транспортный тоннель на Канонерский остров» Капитальный ремонт объекта «Обуховский мост» г. Санкт-Петербург</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> Строительство автобусной разворотной площадки с необходимой инфраструктурой, г.: Санкт-Петербург, Петроградский р-н, Крестовский проспект, 25</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> Ремонт дорог и тротуаров на территории г. Валдай, Новгородская область</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> Благоустройство территории, прилегающей к зданию автобусной станции по адресу: г. Санкт-Петербург, ул. Руставели, д. 13, к.2, лит. А</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> Благоустройство территории, прилегающей к зданию автобусной станции по адресу: г.Санкт-Петербург, ул. Звездная, д. 15, лит. А г. Санкт-Петербург</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> Благоустройство территории, прилегающей к зданию автобусной станции по адресу: Санкт-Петербург, г. Пушкин, ул. Железнодорожная, д. 406, лит. А</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> Благоустройство территории, прилегающей к зданию автобусной станции по адресу: г. Санкт-Петербург, ул. Костюшко, д. 17, лит. А г. Санкт-Петербург</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> Благоустройство территории автобусной станции, Санкт-Петербург, г. Ломоносов, ул. Привокзальная, д. 1, лит. А г. Санкт-Петербург</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> Реконструкция систем наружного освещения Шкиперского протока от ул. Шевченко до Шкиперского моста г. Санкт-Петербург</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> Ремонт помещений для центра управления дорожным движением в Санкт-Петербурге по адресу: ул. Хрустальная, д.22, литер А г. Санкт-Петербург</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> Капитальный ремонт объекта «Александровский парк. Южная часть. I этап» по адресу: г.Санкт-Петербург, Александровский парк. г. Санкт-Петербург</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> Капитальный ремонт объекта «ул. Савушкина» г. Санкт-Петербург</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> Строительство автодороги «Средние Ачалуки – ГОК Средние Ачалуки» Республика Ингушетия</li>
                     </ul>
                </div>
                <div class="col-md-12">
                    [[Gallery?
                    	&album=`6`
                    	&linkToImage=`1`
                    	&thumbWidth=`150`
                    	&thumbHeight=`250`
                    	&itemCls=`gal-item materialboxed`
                    ]]
                </div>
            </div>
        </section>

        <section class="promo-box brand-bg section-padding">
            <div class="container">
                <div class="col-md-12">
                    <div class="promo-info">
                        <h2 class="white-text text-bold font-35">Хотите узнать подробнее о наших объектах?</h2>
                    </div>
                    <div class="promo-btn">
                        <a href="projects/more." class="btn btn-lg white waves-effect waves-dark text-capitalize">Нажмите мы покажем</a>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}