{% extends 'base.html' %}
{% load static %}


{% block content %}

        <section class="section-padding gray-bg">
          <div class="container">
            <div class="text-center">
                <h2 class="section-title">Жилищное строительство</h2>
            </div>
          </div>
        </section>


        <div class="container padding-top-20 padding-bottom-20">
            <ul class="nav nav-tabs">
                <li><a class="green-text" href="/"><strong>Главная</strong></a></li>
                <li><a class="green-text" href="{% url 'projects' %}"><strong>Проекты</strong></a></li>
                <li><a class="not-active" href="#">{{ title }}</a></li>
            </ul>
        </div>


        <section class="mb-30">
            <div class="container">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <a href="jil/#jildoma">
                            <div class="featured-item border-box hover brand-hover">
                                 <h2 class="text-bold">Жилые дома</h2>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-8">
                        <a href="jil/#gorodki">
                            <div class="featured-item border-box hover brand-hover">
                                 <h2 class="text-bold">Жилые комплексы и коттеджные городки</h2>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </section>


        <section id="jildoma" class="mb-60">
            <div class="container">
                <div class="col-md-12">
                    <h2 class="section-title">Жилые многоквартирные дома</h2>
                    <ul>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> Многоквартирный жилой дом г. Ростов-на-Дону по пр. Королёва 6/7 16-ти этажный</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> Многоквартирный жилой дом в Северном р-не г. Ростов-на-Дону по ул. Вселенная д. 5</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> 110 квартирный жилой дом с подземным паркингом, Крестовский пр., д.34 «Фаворит» г. Санкт-Петербург</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> 35 квартирный жилой дом с подземным паркингом ул. Восстания, д.8а «Петербургский стиль» г. Санкт-Петербург</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> 20 квартирный жилой дом с подземным паркингом, ул. Б.Посадская, д.6 «Дом на Посадской» г. Санкт-Петербург</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> 39 квартирный жилой дом с подземным паркингом, ул. Блохина, д.13 г. Санкт-Петербург</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> 96 квартирный жилой дом г. Ростов-на-Дону по пр. Королева (пятно 4-20А)</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> 96 квартирный жилой дом №2 г. пр. Королева Ростов-на-Дону</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> 96 квартирный жилой дом г. Ростове-на-Дону, ул. Таганрогская, 145/4</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> 80 квартирный жилой дом г. Буденновск Ставропольского края</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> 18 квартирный жилой дом пос. Янтарный Аксайского района Ростовской области</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> 16 квартирный жилой дом пос. Янтарный Аксайского района Ростовской области</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> 18 квартирный жилой дом г. Аксай Ростовская область</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> 24 квартирный жилой дом в Астраханской области Икрянинский район с.Икряное</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> 108 квартирный жилой дом №1 г.Черкесск Карачаево-Черкесская Республика</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> 108 квартирный жилой дом №2 г.Черкесск Карачаево-Черкесская Республика</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> 144 квартирный жилой дом г.Черкесск Карачаево-Черкесская Республика</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> 16 квартирный жилой дом г.Сочи Краснодарский край</li>
                    </ul>
                </div>

            </div>
        </section>

        <section class="promo-box brand-bg section-padding">
            <div class="container">

                    <div class="col-md-12">
                        [[Gallery?
                        	&album=`8`
                        	&linkToImage=`1`
                        	&thumbWidth=`120`
                        	&thumbHeight=`250`
                        	&itemCls=`gal-item materialboxed`
                        ]]
                    </div>

            </div>
        </section>

        <div class="divider mt-60"></div>
        <div class="text-center">
                <h2 class="section-title">Жилые комплексы и коттеджные городки</h2>
            </div>
        <section id="gorodki" class="mb-60">
            <div class="container">
                <div class="col-md-12">
                    <h2 class="section-title">Жилые комплексы</h2>
                    <ul>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> Элитный жилой комплекс клубного типа «Времена года» ул. Депутатская, д.17 г. Санкт-Петербург</li>
                    </ul>
                </div>

            </div>
            <section class="promo-box brand-bg section-padding">
            <div class="container">

                    <div class="col-md-12">
                        [[Gallery?
                        	&album=`9`
                        	&linkToImage=`1`
                        	&thumbWidth=`350`
                        	&thumbHeight=`180`
                        	&itemCls=`gal-item materialboxed`
                        ]]
                    </div>

                </div>
            </section>
            <div class="container">
                <div class="col-md-12">
                    <h2 class="section-title">Коттеджные городки</h2>
                    <ul>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> Коттеджный городок «Юго-западный» г. Назрань</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> Коттеджный городок «1-й микрорайон» г. Магас</li>
                    </ul>
                </div>

            </div>
            <section class="promo-box brand-bg section-padding">
            <div class="container">

                    <div class="col-md-12">
                        [[Gallery?
                        	&album=`10`
                        	&linkToImage=`1`
                        	&thumbWidth=`350`
                        	&thumbHeight=`180`
                        	&itemCls=`gal-item materialboxed`
                        ]]
                    </div>

                </div>
            </section>
        </section>

{% endblock %}