{% extends 'base.html' %}
{% load static %}


{% block content %}

        <section class="section-padding gray-bg">
          <div class="container">
            <div class="text-center">
                <h2 class="section-title">Промышленное строительство</h2>
            </div>
          </div>
        </section>


        <section class="mb-60">
            <div class="container">
                <div class="col-md-12">
                    <ul>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> Нефтеналивной терминал п. Унеча, Брянская область</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> Завод сухих смесей г. Карабулак</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> Завод Железобетонных Изделий г. Карабулак</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> Завод по производству газобетонных блоков г. Карабулак</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> Завод по производству осветительного оборудования на базе сверхярких светодиодов, Республика Ингушетия</li>
                      </ul>
                </div>

            </div>
        </section>

        <section class="promo-box brand-bg section-padding">
            <div class="container">

                    <div class="col-md-12">
                        [[Gallery?
                        	&album=`7`
                        	&linkToImage=`1`
                        	&thumbWidth=`120`
                        	&thumbHeight=`250`
                        	&itemCls=`gal-item materialboxed`
                        ]]
                    </div>

            </div>
        </section>

{% endblock %}