{% extends 'base.html' %}
{% load static %}


{% block content %}

        <section class="section-padding gray-bg">
          <div class="container">
            <div class="row equal-height-row">
              <div class="col-md-6">
                <div class="valign-wrapper">
                  <div class="section-title-down valign-cell equal-height-column">
                    <h2 class=" font-40 text-bold">Многолетний опыт и успехи в сфере строительства, позволяют нам быть лидерами на рынке данных услуг.</h2>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="valign-wrapper">
                  <div class="valign-cell equal-height-column">
                    <img class="img-responsive" src="{% static 'img/agency/video-bg.jpg' %}" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>


        <section id="procedure-section">
          <div class="container-fluid">
            <div class="procedures">

              <!-- First procedure -->
              <div id="grajd" class="row no-gutter equal-height-row">

                <div class="col-md-6">
                  <div class="equal-height-column">
                    <img class="img-responsive" src="{% static 'img/service/service-1.jpg' %}" alt="">
                  </div>
                </div><!-- /.col-md-6 -->

                <div class="col-md-6">
                  <div class="valign-wrapper">
                    <div class="valign-cell procedure-wrapper equal-height-column">
                      <h2 class="text-bold font-35 line-height-40 mb-20">Гражданское строительство</h2>
                      <div>
                        АО “ПРОМСТРОЙСЕРВИС”, чьё успешное развитие обусловлено главной целью – строительством качественного, удобного, недорогого жилья и созданием всех условий для максимально комфортного проживания. 
                        <p>Мы осуществляем комплексное жилищное строительство, обеспечивающее граждан квартирами от элитного до эконом-класса, а так же производим работы по индивидуальному малоэтажному строительству.</p>
                      </div>
                      <ul>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> Архитектурный дизайн</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> Качественное планирование</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> Оптимизация затрат</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> Высокая скорость производства</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> Высочайщее качество работ</li>
                      </ul>
                    </div>
                  </div><!-- /.valign-wrapper -->
                </div><!-- /.col-md-6 -->
              </div><!-- /.row -->

              <!-- Second procedure -->
              <div id="ingineer" class="row no-gutter equal-height-row">


                <div class="col-md-6 col-md-push-6">
                  <div class="equal-height-column">
                    <img class="img-responsive" src="{% static 'img/service/service-3.jpg' %}" alt="">
                  </div>
                </div><!-- /.col-md-6 -->

                <div class="col-md-6 col-md-pull-6">
                  <div class="valign-wrapper">
                    <div class="valign-cell procedure-wrapper equal-height-column text-right">
                      <h2 class="text-bold font-35 line-height-40 mb-20">Инженерные сети и коммуникации</h2>
                      <div>
                          АО “ПРОМСТРОЙСЕРВИС” имеет большой и успешный опыт строительства инженерных сетей и коммуникаций, в том числе и на объектах Федерального значения. 
                          <p>Понятие инженерные сети или инженерные коммуникации объединяет под собой различные системы, предназначением которых является обеспечение жизнедеятельности потребителей, населения, коммунально-бытовых служб, организаций социального назначения, средних и малых предприятий бизнеса и крупных промышленных предприятий.</p>
                      </div>
                      <ul>
                        <li>Системы водоснабжения <i class="material-icons brand-color ml-10">&#xE834;</i></li>
                        <li>Системы отопления <i class="material-icons brand-color ml-10">&#xE834;</i></li>
                        <li>Системы канализации <i class="material-icons brand-color ml-10">&#xE834;</i></li>
                        <li>Системы водостока <i class="material-icons brand-color ml-10">&#xE834;</i></li>
                        <li>Коллекторы <i class="material-icons brand-color ml-10">&#xE834;</i></li>
                        <li>Энергетические системы и электрические сети <i class="material-icons brand-color ml-10">&#xE834;</i></li>
                        <li>Система вентиляции и кондиционирования <i class="material-icons brand-color ml-10">&#xE834;</i></li>
                      </ul>
                    </div>
                  </div><!-- /.valign-wrapper -->
                </div><!-- /.col-md-6 -->

              </div><!-- /.row -->


              <!-- Third procedure -->
              <div id="doroga" class="row no-gutter equal-height-row">

                <div class="col-md-6">
                  <div class="equal-height-column">
                    <img class="img-responsive" src="{% static 'img/service/service-2.jpg' %}" alt="">
                  </div>
                </div><!-- /.col-md-6 -->

                <div class="col-md-6">
                  <div class="valign-wrapper">
                    <div class="valign-cell procedure-wrapper equal-height-column">
                      <h2 class="text-bold font-35 line-height-40 mb-20">Дорожное строительство</h2>
                      <div>
                          ГРУППА КОМПАНИЙ АО “ПРОМСТРОЙСЕРВИС”, построила целый ряд объектов дорожного строительства, автомобильных пропускных таможенных пунктов, путепроводов, ремонт и строительство дорог, тротуаров, автомагистралей, городских дорог из специальных плит, асфальтированных дорог районного значения, поселковых дорог из щебня, парковок, автобусных станцийи многое другое
                          <p>Сегодня сотрудники нашей компании успешно справляются с любым из вышеназванных направлений дорожного строительства. Активно занимаясь строительством самых разных дорог на протяжении многих лет. Мы готовы предложить представленную услугу «под ключ» по действительно приемлемым расценкам. Нам доверяют строительство дорог, как частные, так и Государственные заказчики.</p>
                      </div>
                      <ul>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> наши специалисты постоянно совершенствуют свое мастерство, перенимают опыт ведущих мировых компаний в области современного дорожного строительства</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> мы используем проверенную технику, лучшие технологии и самые качественные стройматериалы</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> мы является экспертами в представленной области, и беремся за проекты любойсложности</li>
                      </ul>
                    </div>
                  </div><!-- /.valign-wrapper -->
                </div><!-- /.col-md-6 -->

              </div><!-- /.row -->
              
              <!-- Second procedure -->
              <div id="architect" class="row no-gutter equal-height-row">


                <div class="col-md-6 col-md-push-6">
                  <div class="equal-height-column">
                    <img class="img-responsive" src="{% static 'img/service/service-4.jpg' %}" alt="">
                  </div>
                </div><!-- /.col-md-6 -->

                <div class="col-md-6 col-md-pull-6">
                  <div class="valign-wrapper">
                    <div class="valign-cell procedure-wrapper equal-height-column text-right">
                      <h2 class="text-bold font-35 line-height-40 mb-20">Архитектура и строительство</h2>
                      <div>
                          <p>За годы работы АО “ПРОМСТРОЙСЕРВИС” удалось наладить хорошие партнерские отношения со многими творческими архитектурными мастерскими и получать от них современные проекты жилых домов, удовлетворив потребности потенциальных клиентов. Мы накопили огромный опыт по возведению домов по индивидуальным проектам, квалифицированный инженерно-технический состав нашей компании осуществляет строительство домов по самым новым и интересным проектам различного уровня сложности, а также принимает  участие в проектировании домов, совместно работая с архитекторами и проектировщиками на стадии проектирования. Такой способ взаимодействия дает прекрасные результаты, и способствует уменьшению затрат при строительстве без ущерба качества производимых работ. 
                          <p>Наша команда вместе с партнерами и субподрядчиками, улучшает систему руководства проектом. Мы распознаем  проблемы прежде, чем они становятся проблемами и предлагаем Заказчику новые процедуры, которые в конечном счете приводят к  реализации Проекта с максимально возможным качеством  по лучшей заключительной стоимости.</p>
                          <p>АО “ПРОМСТРОЙСЕРВИС”, это Полный спектр работ по проектированию зданий и сооружений различного назначения: жилых домов, офисных центров, гостиниц, ресторанов, торговых помещений, спортивных сооружений и др. В творческом процессе участвуют архитекторы, дизайнеры, инженеры и техники компании, эксперты и агенты по согласованию, осуществляя все стадии строительного проектирования:</p>
                      </div>
                    </div>
                  </div><!-- /.valign-wrapper -->
                </div><!-- /.col-md-6 -->

              </div><!-- /.row -->
              
            </div>
          </div>
        </section>


        <section class="counter-section facts-two gray-bg">
            <div class="container">

                <div class="row text-center">
                    <div class="col-sm-3 counter-wrap">
                      <i class="material-icons brand-color">call_merge</i>
                      <span class="timer">1996</span>
                      <span class="count-description">Год основания</span>
                    </div> <!-- /.col-sm-3 -->

                    <div class="col-sm-3 counter-wrap">
                      <i class="material-icons brand-color">domain</i>
                      <span class="timer" label="+">420</span>
                      <span class="count-description">Завершенных проектов</span>
                    </div><!-- /.col-sm-3 -->

                    <div class="col-sm-3 counter-wrap">
                      <i class="material-icons brand-color">people</i>
                      <span class="timer">1100</span>
                      <span class="count-description">Сотрудников</span>
                    </div><!-- /.col-sm-3 -->

                    <div class="col-sm-3 counter-wrap">
                      <i class="material-icons brand-color">local_shipping</i>
                      <span class="timer">800</span>
                      <span class="count-description">Единиц техники</span>
                    </div><!-- /.col-sm-3 -->
                </div>
            </div><!-- /.container -->
        </section>


        <section class="promo-box brand-bg section-padding">
            <div class="container">
                <div class="row">
                    <h2 class="section-title">Отвественность</h2>
                    <div class="col-md-6">
                        <h3>Экологическая ответственность</h3>
                        <p class="white-text">Экологическая ответственность является одним из основных принципов в строительстве АО “ПРОМСТРОЙСЕРВИС”. Мы разработали и внедрили ряд стратегических решений, предупреждающих возможные риски и ущерб для окружающей среды. Наша компания выполняет проработку проектов, строительство и эксплуатацию, следуя принципам непрерывного и устойчивого развития и бережного отношения к природе и здоровью людей.</p>
                        <p class="white-text">Практические действия области экологической ответственности:</p>
                        <ul class="white-text">
                            <li><i class="material-icons white-text mr-10">&#xE834;</i> Развитие «зелёных» технологий в строительстве</li>
                            <li><i class="material-icons white-text mr-10">&#xE834;</i> Соблюдения законодательства в экологической сфере</li>
                            <li><i class="material-icons white-text mr-10">&#xE834;</i> Анализ наших проектов в свете потенциального воздействия на окружающую среду, при необходимости принятие защитных мер</li>
                            <li><i class="material-icons white-text mr-10">&#xE834;</i> Предоставление информации об экологическом состоянии региона</li>
                            <li><i class="material-icons white-text mr-10">&#xE834;</i> Отслеживание и применение новейших технологий и новаторских иннициатив</li>
                            <li><i class="material-icons white-text mr-10">&#xE834;</i> Минимизация отходов, переработка и повторное использование</li>
                            <li><i class="material-icons white-text mr-10">&#xE834;</i> Предотвращение образования токсичных отходов и газов</li>
                            <li><i class="material-icons white-text mr-10">&#xE834;</i> Предотвращение загрязнения почвы, загрязнения воды, эрозии и др</li>
                        </ul>

                    </div>
                    <div class="col-md-6">
                        <h3>Культура строительства</h3>
                        <p class="white-text">АО “ПРОМСТРОЙСЕРВИС” одна из  коммерческих строительных компаний в России, которая имеет полностью интегрированную в процесс строительства культуру качества. Наш бдительный подход к качеству работ подкрепляется разработанной нами уникальной методикой контроля качества в процессе руководства проектом от самых ранних стадий в течение подготовки проекта и до заключительного завершения объекта. Качество работ подкрепляется так же материальной мотивацией на качественный результат работы каждого сотрудника Компании. Мы вкладываем такой смысл в это словосочетание:</p>
                        <ul class="white-text">
                            <li><i class="material-icons white-text mr-10">&#xE834;</i> Культура строительства — залог качества</li>
                            <li><i class="material-icons white-text mr-10">&#xE834;</i> Культура строительства — культура организации работы</li>
                            <li><i class="material-icons white-text mr-10">&#xE834;</i> Культура строительства — культура трудового процесса</li>
                            <li><i class="material-icons white-text mr-10">&#xE834;</i> Культура строительства — в первую очередь это собственная внутренняя культура!</li>
                         </ul>
                    </div>
                    <div class="col-md-12">
                        <h2>Охрана труда и техники безопасности</h2>
                        <p class="white-text">Наша цель – обеспечение  “нулевой аварийности”, жизнь и безопасность людей, превыше всего. Здоровье и безопасность сотрудников для нас является Ценностью. Таким образом, во всех регионах, где мы представлены, мы прилагаем для этого все необходимые усилия. АО “ПРОМСТРОЙСЕРВИС” эффективно внедряет и постоянно совершенствует программы о здоровье и безопасности своих сотрудников. Мы полны решимости сделать безопасность в работе неотъемлемой частью своей корпоративной культуры наряду со всеми бизнес-процессами.</p>
                        <p class="white-text">Решительные и последовательные действия нашего менеджмента в области Охраны Труда, - это профессиональный подход к оценке ситуации связанной с безопасностью работ и созданием системы смягчения последствий в возможных аварийных ситуациях. Превентивные действия, которые мы предпринимаем в отношении вероятных рисков, являются важнейшей гарантией для наших сотрудников во всех рабочих областях. Понимание этих проблем главенствует наряду с качественной и непрерывной подготовкой наших работников. Безопасность - самая важная Ценность в нашей работе каждый день.</p>
                    </div>
                    <hr>
                    <div class="col-md-12">
                        <h2>Политика в области деловой этики</h2>
                        <p class="white-text">АО “ПРОМСТРОЙСЕРВИС” верит, что для долгосрочного успеха необходимо выполнять работу в соответствии с правилами кодекса этики, и предпринимает конкретные меры в этом направлении. И мы безусловно относим к своими основными корпоративными ценностями прямоту, честность и надежность.</p>
                        <p class="white-text">ГРУППА КОМПАНИЙ АО “ПРОМСТРОЙСЕРВИС” следует высоким этическим стандартам и не допускает проявления дискриминации или неэтичного поведения. Компания ожидает от сотрудников исполнения Кодекса этики, в котором четко описаны стандарты и принципы корпоративной этики. Правила корпоративной политики в области этики едины для всех сотрудников компании. В процессе оценки производительности и развития карьеры сотрудников компания принимает во внимание результаты мониторинга и надзора за соблюдением внутренних правил этики. Кроме собственных сотрудников, наша компания также ожидает соблюдения таких правил от своих поставщиков, субподрядчиков и других заинтересованных сторон.</p>
                    </div>
                    <hr>
                </div>
            </div>
        </section>

{% endblock %}