{% extends 'base.html' %}
{% load static %}


{% block content %}

        <section class="section-padding gray-bg">
          <div class="container">
            <div class="text-center">
                <h2 class="section-title">Торгово-коммерческие объекты</h2>
            </div>
          </div>
        </section>

        <section id="jildoma" class="mb-60">
            <div class="container">
                <div class="col-md-12">
                    <ul>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> Торговый комплекс гипермаркет г. Ставрополь, ул. Доваторцев 64</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> Торговый комплекс гипермаркет г. Тула, ул. Сойфера 18</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> Торговый комплекс гипермаркет г.Черкесск, ул. Октябрьская, 354</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> Торговый комплекс гипермаркет г. Волгодонск, проспект Курчатова</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> Торговый комплекс «Юго-Западный» г. Назрань</li>
                    </ul>
                </div>

            </div>
        </section>

        <section class="promo-box brand-bg section-padding">
            <div class="container">

                    <div class="col-md-12">
                        [[Gallery?
                        	&album=`11`
                        	&linkToImage=`1`
                        	&thumbWidth=`120`
                        	&thumbHeight=`250`
                        	&itemCls=`gal-item materialboxed`
                        ]]
                    </div>

            </div>
        </section>

{% endblock %}