{% extends 'base.html' %}
{% load static %}


{% block content %}

        <section class="section-padding gray-bg">
          <div class="container">
            <div class="text-center">
                <h2 class="section-title">Торгово-коммерческие объекты</h2>
            </div>
          </div>
        </section>


        <div class="container padding-top-20 padding-bottom-20">
            <ul class="nav nav-tabs">
                <li><a class="green-text" href="/"><strong>Главная</strong></a></li>
                <li><a class="green-text" href="{% url 'projects' %}"><strong>Проекты</strong></a></li>
                <li><a class="not-active" href="#">{{ title }}</a></li>
            </ul>
        </div>


        <section id="jildoma" class="mb-60">
            <div class="container">
                <div class="col-md-12">
                    <ul>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> Торговый комплекс гипермаркет г. Ставрополь, ул. Доваторцев 64</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> Торговый комплекс гипермаркет г. Тула, ул. Сойфера 18</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> Торговый комплекс гипермаркет г.Черкесск, ул. Октябрьская, 354</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> Торговый комплекс гипермаркет г. Волгодонск, проспект Курчатова</li>
                        <li><i class="material-icons brand-color mr-10">&#xE834;</i> Торговый комплекс «Юго-Западный» г. Назрань</li>
                    </ul>
                </div>

            </div>
        </section>

        <section class="promo-box brand-bg section-padding">
            <div class="container">

                <div class="col-md-12 text-center">
                    <div class="gallery">
                    {% for Gallery in images_torg %}
                        <div class="card">
                            <a href="{{ Gallery.image.url }}" target="_blank"><img src="{{ Gallery.image.url }}" /></a>
                        </div>
                    {% endfor %}
                    </div>
                </div>

            </div>
        </section>

{% endblock %}