{% extends 'base.html' %}
{% load crispy_forms_field %}
{% load static %}


{% block content %}

        <!-- Hero Section -->
        <section class="agency-banner-3 bg-fixed parallax-bg overlay dark-7 ptb-190" data-stellar-background-ratio="0.5">
            <div class="container">
              <div class="career-cover text-center">
                <h2 class="white-text text-bold">Присоединяйтесь к нашей команде</h2>
              </div><!-- /.container -->
            </div><!-- /.container -->
        </section>
        <!-- Hero Section End -->


        <!-- contact-form-section -->
        <section class="section-padding gray-bg">

          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                  <form method="POST">
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-md-6">

                        <div class="input-field">
                          {% crispy_field vback.name 'class' 'validate' 'placeholder' ' ' %}
                          <label for="first-name">Имя*</label>
                        </div>

                      </div><!-- /.col-md-6 -->

                      <div class="col-md-6">

                        <div class="input-field">
                          {% crispy_field vback.lastname 'class' 'validate' 'placeholder' ' ' %}
                          <label for="last-name">Фамилия*</label>
                        </div>

                      </div><!-- /.col-md-6 -->
                    </div><!-- /.row -->


                    <div class="input-field">
                      {% crispy_field vback.email 'class' 'validate' 'placeholder' ' ' %}
                      <label for="email" data-error="wrong" data-success="right">Email адрес*</label>
                    </div>

                    <div class="input-field">
                      {% crispy_field vback.phone 'class' 'validate' 'placeholder' ' ' %}
                      <label for="phone">Номер телефона</label>
                    </div>

                    <div class="row">
                      <div class="col-md-6">

                        <div class="input-field">
                          {% crispy_field vback.portfolio 'class' 'validate' 'placeholder' ' ' %}
                          <label for="portfolio">Ссылка на портфолио*</label>
                        </div>

                      </div><!-- /.col-md-6 -->

                      <div class="col-md-6">

                        <div class="input-field">
                          {% crispy_field vback.profile 'class' 'validate' 'placeholder' ' ' %}
                          <label for="LinkedIn-profile">Профиль в соц. сетях*</label>
                        </div>

                      </div><!-- /.col-md-6 -->
                    </div><!-- /.row -->


                    <div class="input-field">
                      {% crispy_field vback.where 'class' 'materialize-textarea' 'placeholder' ' ' %}
                      <label for="message">Где Вы узнали о вакансии?</label>
                    </div>


                    <div class="row">
                      <div class="col-md-6">

                        <div class="input-field">
                          <div class="custom-upload">
                              <span>Резюме*</span>
                              {% crispy_field vback.resume 'class' 'upload' 'placeholder' 'Выбрать файл' 'disabled' 'ebabled' %}
                              <input id="uploadBtnOne" type="file" class="upload" />
                          </div>
                        </div>

                      </div><!-- /.col-md-6 -->

                      <div class="col-md-6">

                        <div class="input-field">
                          <div class="custom-upload">
                              <span>Письмо</span>
                              {% crispy_field vback.letter 'class' 'upload' 'placeholder' ' ' %}
                          </div>
                          <input class="disabled-input" id="uploadFileTwo" placeholder="Выбрать файл" disabled="enabled" />
                        </div>

                      </div><!-- /.col-md-6 -->

                    </div><!-- /.row -->

                    <div class="text-center">
                      <button type="submit" name="submit" class="btn text-capitalize text-bold mt-80">Отправить</button>
                    </div>
                  </form>
              </div>
            </div>
          </div>

        </section>
        <!-- contact-form-section End -->

{% endblock %}